<div class="flex flex-col h-screen">
  <!-- Header -->
  <app-header></app-header>

  <!-- Body with Sidebar and Main -->
  <div class="flex flex-1">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <main class="flex-1 p-6 bg-gray-50">
      <h2 class="text-lg font-semibold">Welcome to Ecospace 🌍</h2>
      <p class="text-gray-600">Start exploring plants and soils.</p>
      <br>
      <app-loading></app-loading>
      <div class="w-80">
        <app-card [hasHeader]="true" [hasFooter]="true">
          <div card-header>
            <img src="https://placehold.co/300x150" alt="Plant Image" class="rounded-md mb-2" />
            <h2 class="text-lg font-semibold">Tomato Plant</h2>
          </div>

          <div card-body>
            <p class="text-gray-600">Grows best in warm weather, needs regular watering.</p>
          </div>

          <div card-footer>
            <app-button [varient]="ButtonVarient.PRIMARY">
              Learn More
            </app-button>
          </div>
        </app-card>
      </div>
    </main>
  </div>
</div>
<router-outlet></router-outlet>